body {
    font-family: "Courier New", Courier, monospace;
}

.display-3 {
    font-family: Futura;
    font-style: italic;
    font-weight: bold;
}

header {
    background-color: rgba(0, 0, 0, 0.78);
}

.head-jumbo {
    /*background-color: rgba(0, 0, 0, 0.78);*/
    color: #FFF;
}

.top-link {
    color: #FFF;
}

.top-link:hover, .top-link:active {
    background-color: rgba(255, 0, 0, 0.9);
    color: #FFF;
    text-decoration: none;
}

.icons {
    color: rgba(0, 0, 0, 0.7);
    padding: 30px;
}

b {
    color: #000;
}

.experience {
    padding: 30px;
}

.major {
    color: rgba(230, 0, 0, 0.7);
}

code {
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(230, 0, 0, 0.7);
}

.s_icons {
    padding: 30px;
    font-family: Futura;
    color: rgba(0, 0, 0, 0.7);
}

footer {
    padding: 50px;
}