<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taisei Klasen</title>

    <!--Custom fonts-->
    <script src="https://use.fontawesome.com/3a3534ec70.js"></script>

    <!--Bootstrap cdn-->
    <!--Compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <!-- Compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!--Bootstrap setup-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Custom style sheet-->
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>
<body>
    <!--header-->
    <header class="header"></header>
        <div class="jumbotron">
            <h1 class="display-3 text-center">Taisei Klasen</h1>
            <div class="col-lg-12 text-center">
                <ul class="list-unstyled top-list">
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a href="tel:503-430-9550" class="top-link">(503) 430-9550</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o fa-fw"></i>
                        <a href="mailto:taiseiklasen@gmail.com" class="top-link">taiseiklasen.com</a>
                    </li>
                    <li>
                        <i class="fa fa-linkedin fa-fw"></i>
                        <a href="https://linkedin.com/in/taisei" class="top-link">linkedin.com/in/taisei</a>
                    </li>
                    <li>
                        <i class="fa fa-github fa-fw"></i>
                        <a href="https://github.com/taiseiak" class="top-link">github.com/taiseiak</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!--education and skills-->
    <section class="education">

        <div class="container about">
            <div class="text-center">
                <i class="fa fa-graduation-cap fa-4x icons"></i>
                <h2>education</h2>
                <h3>University of Oregon</h3>
                <p class="lead">
                    <b>computer science</b> and <b>mathematics</b> double major
                </p>
                <ul class="list-unstyled">
                    <li>
                        <code>3.97</code> GPA
                    </li>
                    <li>
                        <code>tuition full-ride</code> Presidential Scholarship
                    </li>
                    <li>
                        <code>dean's List</code> every term
                    </li>
                </ul>
            </div>
        </div>

        <div class="container about">
            <div class="text-center">

                <i class="fa fa-code fa-4x icons"></i>
                <h2>skills</h2>
                <h3>coding languages</h3>
                <p>
                    <code>Python</code>, C, C++, Swift, SQL, NoSQL, html, CSS, Javascript
                </p>
                <h3>world languages</h3>
                <p>
                    fluent <code>Japanese</code> and <code>English</code>
                </p>

            </div>
        </div>

        <div class="container about">
            <div class="text-center">

                <i class="fa fa-book fa-4x icons"></i>
                <h2>courses</h2>
                <h3>computer science</h3>
                <p>
                    Computer Organization, Data Structures, Software Design
                </p>
                <h3>mathematics</h3>
                <p>
                    Linear Algebra I&II, Discrete Math I&II,<br>Number Theory, Statistic Models
                </p>

            </div>
        </div>
    </section>

    <!--experience-->
    <section class="experience">
        <div class="container">
                <div class="jumbotron">
                <div class="text-center">
                    <i class="fa fa-briefcase fa-4x icons"></i>
                    <h2 class="major">experience</h2>
                    <h3>Oregon Abstract Data Types Research</h3>
                    <h5><i>June 2017 - September 2017</i></h5>
                    <ul class="list-unstyled">
                        <li>
                            Programmed the Python implementation of the Oregon Abstract Data Types package
                        </li>
                        <li>
                            Implemented data structures in Python such as ordered sets and stacks
                        </li>
                        <li>
                            Intended to be used in classes at University of Oregon by students who are proficient in C
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="projects">
        <div class="container">
            <div class="text-center">
                <h2 class="major">projects</h2>

                <i class="fa fa-map-marker fa-4x icons"></i>
                <h3><a href="./findmyicecream">find my ice cream</a></h3>
                <h5><i>Fall 2017</i></h5>
                <h5><a href="https://github.com/taiseiak/FindMyIceCream"><i class="fa fa-github fa-fw"></i>Github</a></h5>
                <p class="lead">map based web application</p>
                <ul class="list-unstyled">
                    <li>
                        • Launched a map application that shows closest points of interest on the map
                    </li>
                    <li>
                        • Developed full-stack using a combination <code>Python</code> backend, <br>
                        with <code>Bootstrap</code> front end, map based off <code>Leaflet</code> and <code>Google Maps API</code>
                    </li>
                    <li>
                        • Quickly learned different languages and packages to create working <br>
                        software that allows for finding different points of interest on the map
                    </li>
                </ul>

                <i class="fa-5x s_icons">S</i>
                <h3>Supreme web bot</h3>
                <h5><i>Fall 2017</i></h5>
                <p class="lead">Javascript web scraper/purchase bot</p>
                <ul class="list-unstyled">
                    <li>
                        • Created a bot that buys merchandise from the Supreme website automatically
                    </li>
                    <li>
                        • Built a <code>Javascript</code> extension that automatically scrapes the website, finds <br>
                        the right fields to click, and purchases the item faster than a human could<br>
                        allowing for buying of products beforethey sell out (usually in under a minute)
                    </li>
                </ul>

                <i class="fa fa-apple fa-4x icons"></i>
                <h3>AuxParty</h3>
                <h5><i>Winter 2016 – Summer 2016</i></h5>
                <h5><a href="https://github.com/taiseiak/AuxPartyiOS"><i class="fa fa-github fa-fw"></i>Github</a></h5>
                <p class="lead">iOS music application</p>
                <ul class="list-unstyled">
                    <li>
                        • Developed an <code>iOS</code> app that connects multiple iPhones to play music from one phone
                    </li>
                    <li>
                        • Designed the front-end so that users instinctively know how to use the application
                    </li>
                    <li>
                        • Implemented a <code>Python</code> back-end on <code>AWS</code> to send <code>Apple Music API</code> requests from<br>
                        one phone to another, so that multiple people can request and play music off of one auxiliary cord
                    </li>
                </ul>

            </div>
        </div>
    </section>

    <!--Footer-->
    <footer>
        <div class="container">
            <div id="footer-content" class="text-right">
                <small>&copy; 2017, Taisei Klasen </small>
            </div>
        </div>
    </footer>

</body>
</html>